<%= render layout: "devise/shared/card_form_wrapper", locals: {
  title: "Edit Profile",
  path: user_registration_path,
  data:{"turbo": true, "turbo-method": :patch} } do |f| %>

      <div class="input-field">
        <%= f.label :name, "Full name" %>
        <%= f.text_field :name, autofocus: true %>
      </div>

    <div class="input-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "active" %>
    </div>

  <div class="row">
    <div class="col s6">
      <div class="input-field">
        <%= f.label :password, "Password (#{@minimum_password_length} characters minimum)" %>
        <%= f.password_field :password, autocomplete: "new-password", html: {placeholder: "Leave blank if you don't want to change it", class:"active"}%>
      </div>
    </div>
    <div class="col s6">
      <div class="input-field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"active" %>
      </div>
    </div>
  </div>


    <div class="input-field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: "current-password", class:"active" %>
    </div>

    <div class="center-align">
      <%= f.submit "Update user info", class: "waves-effect waves-light btn" %>
    </div>

  <div class="input-field center-align">
  <%= link_to "Back", :back %>
  </div>




<% end %>
    <p class= "center-align"><%= link_to "Cancel my account", user_registration_path, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure? Your information will be deleted" }, class:"waves-effect waves-light btn red darken-1" %></p>
