<h1> <%=@course.name%> </h1>
<p><%=@course.description%></p>

<h2>Enrolled students</h2>
<div class="row">
    <div class="col s6 ">
        <%= paginate @students %>
        <ul class = "collection">
            <% @students.each do |student| %>
                <%= link_to student_path(student) do %>
                    <li class="collection-item"><%=student.name%></li>
                <%end%>
            <% end %>
        </ul>
        <%= paginate @students %>
    </div>
</div>
