<!-- Dropdown Structure -->



<% if user_signed_in? %>
  <ul id="dropdown1" class="dropdown-content">
     <li>
      <%= link_to edit_user_registration_path do %>
        Edit account
        <i class="material-icons">edit</i>
      <%end%>
     </li>
     <li>
      <%= link_to  destroy_user_session_path, data: {"turbo-method": :delete } do %>
        Logout
        <i class="material-icons">exit_to_app</i>
      <% end %>
      </li>
  </ul>
<% end %>


<nav>
  <div class="nav-wrapper teal darken-1">
    <div class="container">
        <%= link_to "Tech University", root_path, class: "brand-logo"%>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li><%= link_to "Courses", courses_path, data:{turbo:false} %></li>
            <li><%= link_to "Students", students_path, data:{turbo:false} %></li>
            <li>
              <a class="dropdown-trigger" href="#" data-target="dropdown1">
                <i class="material-icons right">account_circle</i><%= current_user.email %>
              </a>
            </li>
          <% else %>
            <li><%= link_to "Log in", new_user_session_path, data: { turbo: false }%></li>
            <li><%= link_to "Sign up", new_user_registration_path,  data:{ turbo:false }, class: "waves-effect waves-light btn" %></li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <% if user_signed_in? %>
      <li><%= link_to "Courses", courses_path, data:{turbo:false} %></li>
      <li><%= link_to "Students", students_path, data:{turbo:false} %></li>
      <li>
        <a class="dropdown-trigger" href="#" data-target="dropdown1">
          <%= current_user.email.truncate(20) %><i class="material-icons right">account_circle</i></div>
        </a>
      </li>
    <% else %>
      <li><%= link_to "Log in", new_user_session_path, data: { turbo: false }%></li>
      <li><%= link_to "Sign up", new_user_registration_path,  data:{ turbo:false }, class: "waves-effect waves-light btn" %></li>
    <% end %>
</ul>

